@import url("https://fonts.googleapis.com/css?family=Big+Shoulders+Display:900&display=swap");

body {
  margin: 0;
  font-family: 'Big Shoulders Display', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: #F9D31C;
  font-weight: 900;
}
